# ignore directories
# firstWebScapring/examples/images/
# firstWebScapring/examples/images
# firstWebScapring/examples/pelisPlus/gallery/
# firstWebScapring/examples/pelisPlus/gallery
# firstWebScapring/examples/pelisPlus/poster/
# ignore files .csv
*.csv
*.txt
*.log
*.jpg
*.png
